*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  font-family: system-ui, sans-serif;
  line-height: 1.5;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}
.container{
    display: grid;
    grid-template-rows: auto 1fr;
    width: 100vw;
    height: 100vh;
}
.top{
    background-color: rgb(65, 183, 177);
    color: rgb(244, 244, 244);
    text-align: center;
    padding: 20px;
}
/* table */
table{
    border-collapse: collapse;
    table-layout: fixed;
    width: 75%;
    margin: 10px auto 10px auto ;
}
th,td {
    border: 1px solid black;
    padding: 8px;
}
th:nth-child(1),
td:nth-child(1),
th:nth-child(2),
td:nth-child(2){
    width: 35%;
}
th:nth-child(3),
td:nth-child(3),
th:nth-child(4),
td:nth-child(4){
    width: 15%;
}
th{
    background-color: rgb(65, 183, 177);
}
/* button */
.add , .addBook{
    background-color: rgb(65, 183, 177);
    color: rgb(244, 244, 244);
    font-weight: 800;
    border: none;
    border-radius: 10px;
    padding: 10px 30px;
    display: block;
    margin: 0px auto;
    cursor: pointer;
}
.add:hover,.addBook:hover{
    background-color: rgb(2, 130, 123);
}
/* form to add book*/
.formContainer{
    display: none;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}
.mainForm{
    position: relative;
    background-color:  rgb(244, 244, 244);
    padding: 50px 20px;
    height: 80%;
    width: 25%;
    border-radius: 10px;
    margin: 50px auto;
}
.elt{
    display: flex;
    flex-direction: column;
}
.readStatus{
    border: 2px solid rgb(152, 150, 150);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
}
.formContent{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.mainContent{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
label{
    font-weight: bold;
}
input{
    border-radius: 10px;
    border: 2px solid rgb(152, 150, 150);
    padding: 5px 10px;
}
.removeForm{
    display: inline;
    background: rgba(225, 0, 0, 0.3);
    border: 2px solid rgb(115, 7, 7);
    color: rgb(115, 7, 7);
    border-radius: 10px;
    padding: 10px 5px;
    position: absolute;
    top: 8px;
    right: 8px;
    font-weight: bolder;
    cursor: pointer;
}
.removeForm:hover{
    background-color: red;
}